@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/*************************HEADER*************************/

header{
    padding: 60px 80px 50px 80px;
    background-color: #4c5eab;
    display: flex;
    max-width: 864px;
    margin: 0px auto;
}
.avatar{
    /* height: auto; */
}
.user{
    flex: 2;
    margin: 0px 30px;
    font-family: Montserrat;
    color: white;
    font-weight: 500;
}
h1{
    font-size: 40px;
    margin-bottom: 5px;
}
.work{
    font-size: 22px;
}
.contacts{
    flex: 1;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
}
.contacts li{
    margin-bottom: 15px;
}
.contacts li img{
    padding-right: 15px;
}
.contacts li span{
    padding-left: 28px;
}

/*********************************MAIN*****************************/

main{
    display: flex;
    font-family: Montserrat;
    max-width: 1024px;
    margin: 0px auto;
}
h2{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 25px;
}

/***************ASIDE-LEFT********************/

.skills{
    padding-bottom: 40px;
}
.skills p{
    font-size: 18px;
}
.skills a{
    font-size: 17px;
    color: #383838;
    font-weight: bold;
}
.skills a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.skills ul li{
    padding-bottom: 10px;
}
.bag{
    float: left;
    padding-right: 20px;
}
.aside-left{
    flex: 1;
    background-color: #fafafa;
    padding: 40px 30px 50px 65px;
}
.skills.ref{
background: url('img/slide.png') -5% 59% no-repeat;
}
.interests{
    display: flex;
}
.interests p{
    padding-top: 80px;
    font-weight: bold;
}
.interests div:nth-child(1){
    background: url('img/music.png') 0% 0% no-repeat;
    flex: 1;
}
.interests div:nth-child(2){
    background: url('img/gaming.png') 50% 0% no-repeat;
    flex: 1;
    text-align: center;
}
.interests div:nth-child(3){
    background: url('img/biking.png') 100% 0% no-repeat;
    flex: 1;
    text-align: right;
}
.reference{
    margin-left: 40px;
}
.reference.first{
    padding-bottom: 50px;
}
.reference p{
    font-size: 17px;
}
.reference p span{
   color: #4c5eab;
   font-weight: bold;
}

/*******************ASIDE-RIGHT**********************/

.aside-right{
    flex: 2;
    padding: 40px 80px 50px 15px;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
}
.projects{
    width: 225px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin: 10px;
}
.widget{
    height: 165px;
    background-color: #d6d6d6;
}
h3{
    padding-top: 25px;
    font-size: 18px;
}
.projects p{
    padding-bottom: 30px;
    font-size: 18px;
}
/*************************FOOTER*********************/

footer{
    background-color: #4d5fab;
    padding: 30px 80px;
    font-size: 18px;
    color: white;
    max-width: 864px;
    margin: 0px auto;
}